body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #fff;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;    
}

button:active {
    background-color: #004080;    
}

.register-link {
    text-align: center;
    margin-top: 20px; /* Increased margin-top */
    
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #0056b3;
}
